<footer class="shadow py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="text-sm-start text-center mx-md-2">
                    <p style="color: white" class="mb-0">©
                        <script>document.write(new Date().getFullYear())</script>
                        Shield. Design with <i class="mdi mdi-heart text-danger"></i>
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
