<div class="row">
    <div class="col-md-9">
        <h5 style="color: white; font-weight: bold" class="mb-0"><%= title %></h5>
    </div>
    <div class="col-md-3">
        <div class="search-bar p-0 d-none d-md-block ms-2">
            <div id="search" class="menu-search mb-0">
                <div class="form-icon position-relative">
                    <i data-feather="search" class="fea icon-sm icons"></i>
                    <input style="    background-color: #CFD4E8!important;" name="firstName" id="searchInput" type="text"
                           class="form-control ps-5"
                           placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
</div>
